<div class="eol-page-header">
    <span class="page-header-left">
        <h2>Digital Online - {{title}}</h2>
    </span>
</div>

<p-dialog closeOnEscape="true" header="New idea" [(visible)]="display" (onHide)="onHide()" resizable="true"
    maximizable="true" draggable="true" modal="true">
    <input type="text" pInputText placeholder="Team name" [(ngModel)]="teamName" style="margin: 4px 4px 12px 0px;"
        pTooltip="Team name">
    <input type="text" pInputText placeholder="Member 1" [(ngModel)]="member1" style="margin: 4px 4px 4px 0px;"
        pTooltip="Member 1">
    <input type="text" pInputText placeholder="Member 2" [(ngModel)]="member2" style="margin: 4px 4px 4px 0px;"
        pTooltip="Member 2">
    <p-editor [(ngModel)]="description" [style]="{'height':'240px'}"></p-editor>
    <p-button *ngIf="!isUpdate" label="Save" [disabled]="!enableButton" (onClick)="save()" icon="pi pi-save"
        styleClass="ui-button-raised ui-button-rounded ui-button-success" style="margin: 4px 4px 4px 0px;">
    </p-button>
    <p-button *ngIf="isUpdate" label="Update" [disabled]="!enableButton" (onClick)="update()" icon="pi pi-save"
        styleClass="ui-button-raised ui-button-rounded ui-button-success" style="margin: 4px 4px 4px 0px;">
    </p-button>
    <p-button label="Reset" icon="pi pi-refresh" (onClick)="reset()" *ngIf="enableAdding"
        styleClass="ui-button-raised ui-button-rounded ui-button-warning" style="margin: 4px 4px 4px 0px;">
    </p-button>
</p-dialog>

<div style="margin: 100px 0;">
    <p-card header="Participants" class="ui-g-12 ui-md-6">
        <p-progressBar *ngIf="loadingChart" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        <p-chart *ngIf="!loadingChart" type="doughnut" [options]="chartOptions" [data]="doughnutChart"></p-chart>
    </p-card>
    <p-card header="Date" class="ui-g-12 ui-md-6">
        <p-progressBar *ngIf="loadingChart" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        <p-chart *ngIf="!loadingChart" type="bar" [options]="chartOptions" [data]="barChart"></p-chart>
    </p-card>
    <p-card header="{{ideaCount}} Ideas from {{membersCount}} participants" class="ui-g-12 ui-md-12">
        <button type="button" (click)="showDialog()" pButton icon="pi pi-plus" label="Add new idea" *ngIf="enableAdding"
            class="ui-button-raised ui-button-rounded ui-button-info" style="margin: 20px 0;"></button>

        <p-paginator [rows]="5" [totalRecords]="ideaCount" [rowsPerPageOptions]="[5,10,20]" (onPageChange)="paginate($event)"></p-paginator>
        <p-progressBar *ngIf="loading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        <p-table [value]="ideas" *ngIf="!loading">
            <ng-template pTemplate="header">
                <tr>
                    <th>Team name</th>
                    <th>Member 1</th>
                    <th>Member 2</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-idea>
                <tr *ngIf="idea.teamName!=='' && idea.teamName !== null">
                    <td>
                        <button type="button" (click)="updateDetails(idea)" pButton icon="pi pi-pencil"
                            [label]="idea.teamName" class="ui-button-raised ui-button-rounded ui-button-secondary"
                            pTooltip="Click to update" style="display: block"></button>
                    </td>
                    <td><span style="color: #1BA1E2; font-weight: bold;">{{idea.member1}}</span></td>
                    <td><span style="color: #1BA1E2; font-weight: bold;">{{idea.member2}}</span></td>
                </tr>
                <tr *ngIf="idea.teamName!=='' && idea.teamName !== null">
                    <td colspan="3">
                        <div [innerHtml]="idea.description"></div>
                    </td>
                </tr>

                <br />
                <br />
            </ng-template>
        </p-table>
    </p-card>
</div>
<router-outlet></router-outlet>