<div class="eol-page-header">
  <span class="page-header-left flex-inline-body">
    <img class="header_logo" height="34" runat="server" src="../assets/eurofins-logo-primary.png"
      alt="Eurofins logo">
  </span>
  <span class="page-header-right">
    <span style="font-size: 20px">{{title}}</span>
  </span>
</div>

<br />
<div style="margin-top: 50px">
<p-card header="New Idea">
    <input type="text" pInputText placeholder="Team name" [(ngModel)]="teamName" style="margin: 4px 4px 12px 0px;">
    <input type="text" pInputText placeholder="Member 1" [(ngModel)]="member1" style="margin: 4px 4px 4px 0px;">
    <input type="text" pInputText placeholder="Member 2" [(ngModel)]="member2" style="margin: 4px 4px 4px 0px;">
    <p-editor [(ngModel)]="description" [style]="{'height':'240px'}"></p-editor>
    <p-button *ngIf="!isUpdate" label="Save" [disabled]="!enableButton" (onClick)="save()" style="margin: 4px 4px 4px 0px;"></p-button>
    <p-button *ngIf="isUpdate" label="Update" [disabled]="!enableButton" (onClick)="update()" style="margin: 4px 4px 4px 0px;"></p-button>
    <p-button label="Reset" class="ui-button-danger" (onClick)="reset()" style="margin: 4px 4px 4px 0px;"></p-button>
</p-card>

<br />

<p-card header="Registered Ideas">
    <p-table [value]="ideas">
        <ng-template pTemplate="header">
            <tr>
                <th>Team name</th>
                <th>Member 1</th>
                <th>Member 2</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-idea>
            <tr *ngIf="idea.teamName!=='' && idea.teamName !== null">
                <td><span style="cursor: pointer; color:blue;" (click)="updateDetails(idea);" title="Click to update">{{idea.teamName}}</span></td>
                <td>{{idea.member1}}</td>
                <td>{{idea.member2}}</td>
            </tr>
            <tr *ngIf="idea.teamName!=='' && idea.teamName !== null">
                <td colspan="3">
                    <div [innerHtml]="idea.description"></div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
</div>
<router-outlet></router-outlet>
